* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 100%;
    background: #F1F1F1;
}

*, html {
    --primaryGradient: linear-gradient(93.12deg, #6366f1 0.52%,  #14b8a6 100%);
    --secondaryGradient: linear-gradient(268.91deg, #6366f1 -2.14%, #14b8a6 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #14b8a6;
}

/* CHATBOX
=============== */
.chatbox {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 10;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-10px);
    z-index: 20;
    opacity: 1;

}

/* BUTTON */
.chatbox__button {
    text-align: right;
}

.send__button {
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    background: orange;
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    background: orange;
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
    position: sticky;
    bottom: 0;
}

.chatbox__support {
    background: #f9f9f9;
    height: 450px;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* HEADER */
.chatbox__header {
    /* background: #f9f9f9; */
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
    margin-right: 5px;
    margin-top: 16px;
}

.chatbox__heading--header {
    font-size: 1.2rem;
    margin-top: -5px;
    /* color: secondaryGradient;  */
    //text-color: var(--primaryGradient);
}

p.chatbox__description--header {
    margin-top: -10px !important;
    margin-bottom: 0px !important;
}

.chatbox__image--header img {
    position: relative;
    top: -17px;
    left: -7px;
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
}

/* Messages */
.chatbox__messages {
    padding: 0 20px;
}

.messages__item {
    margin-top: 10px;
    background: var(--primaryGradient);
    padding: 8px 12px;
    max-width: 70%;
   color: white;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primaryGradient);
    color: white;
}

/* FOOTER */
.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
    margin-top: 20px;
}

.chatbox__footer input {
    width: 80%;
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: left;
}

.chatbox__send--footer {
    color: white;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: white;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/* body {
    min-height: 100% !important;
    background-color: #9dc08b;
} */
html {
    scroll-behavior: smooth;
}

.navbar-top .logo img,
.navbar .navbar-brand img {
    width: 110px;
    height: 66px;
}

.navbar-top {
    background-color: #40513b;
}

.info-mail p {
    font-size: 18px;
}

.links ul li {
    list-style-type: none;
}

.links ul li a {
    color: white;
    text-decoration: none;
    font-size: 19px;
}

.navbar {
    background-color: #609966;
}

.intro {
    background-color: #9dc08b;
    /* kasih padding-bottom biar di section intro ada tambah ruang ke bawah */
}

.intro h1 {
    font-size: 40ipx;
    color: black;
}

.intro p {
    font-size: 25px;
    color: #609966;
}

.intro a {
    text-transform: uppercase;
    border: 3px solid black;
    color: #ff9f29;
    font-size: 29px;
}

.team {
    background-color: rgb(25, 22, 31);
    padding-bottom: 50px;
}

.team h1,
.team p {
    color: white;
    text-align: center;
}

.our-team .card .card-header img {
    width: 180px;
    border-radius: 50%;
    height: 180px;
    border: 5px solid rgb(230, 230, 7);
}

.our-team .card .card-body p {
    color: black;
}

.footer {
    background-color: rgb(2, 2, 2);
    margin: 0 !important;
    overflow-x: hidden;
}

footer img {
    width: 83px;
    height: 50px;
    position: relative;
    left: -20px;
}

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 1px;
    font-size: 19px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 250px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
    z-index: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}